body{
text-align: center;
margin: auto;
padding: 40px;
font-family: 'Roboto mono', Courier, monospace;
}

h1{
    color: blueviolet;
}

.container .form-control{
text-align: center;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
border-radius: 1em;
font-family: 'Roboto mono', Courier, monospace;
}

.pill{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
    border-radius: 1em;
    
    
}

